# This is required to proxy Grafana Live WebSocket connections.
map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

upstream grafana {
	server 127.0.0.1:3000;
	keepalive 32;
}

server {
    listen 80;
    server_name {{ grafana_server_hostname }};

    location / {
        proxy_pass http://grafana;
	proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # Proxy Grafana Live WebSocket connections.
    location /api/live/ {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection $connection_upgrade;
      proxy_set_header Host $host;
      proxy_pass http://grafana;
    }

    access_log {{ nginx_log_dir }}/{{ grafana_server_hostname }}.access.log  main_product;
    error_log {{ nginx_log_dir }}/{{ grafana_server_hostname }}.error.log;
}
